.createProfileContainer {
  background: linear-gradient(180deg, #D496A0 0%, #2B3969 100%) top right;
  color: white;
  font-size: 3.5rem;
}

.createProfileContainer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../Assets/backgroundRegister.png");
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: darken;
  opacity: 0;
  animation: fade-in 2s ease forwards;
  z-index: 0;
}

h3{
  margin: 0;
}

p{
  font-size: 2rem;
  margin: 0;
}

.profileContents{
  background-image: url("../../Assets/bgnoise2.svg");
  position: relative;
  padding: 8rem;
}

.selected{
  opacity: 50%;
}

.columns{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10rem;
}

.stage{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

.pictureFrame{
  margin-top: 1rem;;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 26rem;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.51) 0%, rgba(217, 217, 217, 0) 100%) no-repeat;
  background-size: cover;
  border-radius: 40px;

}

.statsFrame{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.51) 0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 40px;
  flex-wrap: wrap;
  padding: 1rem 1rem 2rem;
  margin-bottom: 4rem;
}

.stat{
  margin: 1rem;
}

.gamesFrame{
  display: flex;
  padding: 1.5rem;
  width: 90%;
  height: 22rem;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 14.5rem;

}


.game{
  background-color: #2B3969;
  padding: 10px;
  width: 200px;
  height: 250px;
  margin: 50px;
  flex: 0 0 auto;
  border-radius: 20px;
}

.game:hover{
  transform: scale(1.11);
  opacity: 70%;
  box-shadow: -10px -10px rgba(43, 57, 105, 0.14);
}


.title{
  margin-top: 2.5rem;
  text-align: center;
}

.confirm{
  display: flex;
  align-items: center;
  justify-content: center;
}


.descField{
  width: 100%;
  min-width: 10rem;
  height: 25rem;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.51) 0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 40px;
}

textarea {
  background: none;
  appearance: none;
  border: none;
  height: 100%;
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 40px;
  position: relative;
  cursor: text;
  font-size: 2rem;
  font-family: 'Teko', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}


input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #5A69B3;
  border-radius: 4px;

}



.selectCustom {
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  background-color: transparent;
  appearance: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  width: 200px;
  transition: border-color 0.3s ease;
}

.selectCustom:focus {
  background-color: transparent;
  outline: none;
  border-color: #D496A0;
}

.selectCustom option {
  padding: 8px;

}
.selectCustom select{
}

.optionCustom{
  background-color: #5A69B3;
  opacity: 60%;
  top: 100%;
  left: 0;
  right: 0;
}

.optionCustom:hover{
  background-color: #D496A0;
}


@media screen and (max-width: 800px){
  .title{
    margin-top: 1rem;
  }
}

@media screen and (max-width: 500px){
  .profileContents{
    padding: 1rem 1rem 4rem;
    font-size: 2rem;
  }

  .pictureFrame{
    width: 15rem;
    height: 21rem;
  }

  .gamesFrame{
    margin-bottom: 4rem;
  }
}


