body.home{
    background: linear-gradient(#D496A0 0%, #5A69B3 100% ) fixed;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
    outline: none;
}

.landingPageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgb(255, 255, 255)),
    linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4), rgb(255, 255, 255)),
    url("../../Assets/bg1.png") center center no-repeat;
    background-size: cover;
    mix-blend-mode: darken;
    opacity: 0.7;
    z-index: -1;
}

.scroll{
    max-height: 100vh;
     overflow-y: scroll;
     scroll-snap-type: y mandatory;
 }


.landingPage{
    min-height: 100vh;
    padding-right: 10%;
    padding-left: 10%;
    color: #FFFFFF;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;

}


.info {
    position: relative;
    top: 0;
    height: 100vh;
    background: #2B3969FF url("../../Assets/bgnoise2.svg");

    overflow-y: auto;
    color: white;
    font-size: 50px;
}


.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-top: 1.5rem;
}

.left {
    font-size: 4rem;
}


.right {
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
}

.right div {
    margin-left: 3rem;
}

.headline{
    font-size: 7rem;
    line-height: 0.8;
}

.bottomText{
    font-size: 4.5rem;
    padding-top: 2rem;
    line-height: 0.8;
}

.content {
    margin-top: 15.5rem;
    display: flex;
    flex-wrap: wrap;
}

.text {
    flex: 1;
    max-width: 45rem;
    margin-bottom: 8rem;
    padding-right: 8rem;
}

.getStarted{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}


@media screen and (max-width: 1024px) {

    .landingPage{
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .content{
        margin-top: 5rem;
    }

    .navbar {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .left {
        font-size: 3rem;
    }

    .right {
        font-size: 2rem;
        justify-content: center;
        margin-top: 1rem;
    }

    .headline{
        font-size: 5rem;
    }

    .bottomText{
        font-size: 2.5rem;

    }

    .clouds{
        position: relative;
    }
}

@media screen and (max-width: 1440px) {

    .landingPage{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .content{
        margin-top: 12rem;
    }

    .left {
        font-size: 3rem;
    }

    .right {
        font-size: 2rem;
        justify-content: center;
        margin-top: 1rem;
    }

    .headline{
        font-size: 5rem;
    }

    .bottomText{
        font-size: 2.5rem;

    }
}

@media screen and (max-width: 425px) {
    .landingPage{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content{
        margin-top: 4rem;
    }

    .left {
        font-size: 2rem;
    }

    .right {
        font-size: 1rem;
        justify-content: center;
        margin-top: 1rem;
    }

    .headline{
        font-size: 5rem;
    }

    .bottomText{
        font-size: 2.5rem;

    }
}

@media screen and (max-width: 375px) {
    .headline{
        font-size: 4rem;
    }

    .bottomText{
        font-size: 2rem;

    }
}

.clouds{
    overflow: hidden;
    pointer-events: none;
}

.c1 {
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 0;
    animation: moveCloud1 40s linear infinite, move-up-down 2s ease infinite; /* Użyjmy animacji o nazwie "moveCloud" */
}
@keyframes moveCloud1 {
    0% {
        opacity: 0;
        left: 0; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        left: calc(100% - 300px); /* Końcowa pozycja chmury poza prawą krawędzią ekranu */
        opacity: 0;
    }
}

.c2 {
    position: absolute;
    top: 70%;
    right: -200px; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
    animation: moveCloud2 30s linear infinite, move-up-down 5s ease infinite; /* Użyjmy animacji o nazwie "moveCloud" */
    overflow: hidden;
}
@keyframes moveCloud2 {
    0% {
        right: 0; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        right: calc(100% - 300px); /* Końcowa pozycja chmury poza prawą krawędzią ekranu */
        opacity: 0;
    }
}

.c3 {
    position: absolute;
    top: 60%;
    left: 0; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
    animation: moveCloud1 35s linear infinite, move-up-down 4s ease infinite; /* Użyjmy animacji o nazwie "moveCloud" */
}

@keyframes move-up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

span
{
    position: absolute;
    right: -600px;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 15s;
    animation: star 28s linear infinite;
}

@keyframes star{
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    10%{
        transform: rotate(315deg) translateX(-120vh);
    }
    11%{
        opacity: 0;
    }
    100%{
        transform: rotate(315deg) translateX(-120vh);
        opacity: 0;
    }
}



span:nth-child(2)
{
    right: 100px;
    animation-delay: 12s;
}

span:nth-child(3)
{
    right: 400px;
    animation-delay: 17s;
}
span:nth-child(4)
{
    right: 700px;
    animation-delay: 21s;
}



