body.home{
    background-size: cover;
    background: linear-gradient(#D496A0 0%, #5A69B3 100%) fixed;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
    outline: none;
}

.landingPageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgb(255, 255, 255)),
    linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4), rgb(255, 255, 255)),
    url("../../Assets/bg1.png") center center no-repeat;
    background-size: cover;
    mix-blend-mode: darken;
    opacity: 0.7;
    z-index: -1;
}

.landingPage{

    margin-right: 12rem;
    margin-left: 12rem;
    color: #FFFFFF;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-top: 1.5rem;
}

.left {
    font-size: 4rem;
}


.right {
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
}

.right div {
    margin-left: 3rem;
}

.headline{
    font-size: 7rem;
    line-height: 0.8;
}

.bottomText{
    font-size: 4.5rem;
    padding-top: 2rem;
    line-height: 0.8;
}

.content {
    margin-top: 15.5rem;
    display: flex;
    flex-wrap: wrap;

}

.text {
    flex: 1;
    max-width: 45rem;
    margin-bottom: 8rem;
    padding-right: 8rem;
}

.getStarted{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}


@media screen and (max-width: 62rem) {

    .landingPage{
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .content{
        margin-top: 6rem;
    }

    .navbar {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .left {
        font-size: 3rem;
    }

    .right {
        font-size: 2rem;
        justify-content: center;
        margin-top: 1rem;
    }

    .headline{
        font-size: 5rem;
    }

    .bottomText{
        font-size: 2.5rem;

    }
}
.c1 {
    position: absolute;
    top: 10rem;
    left: -200px; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
    animation: moveCloud1 40s linear infinite, move-up-down 2s ease infinite; /* Użyjmy animacji o nazwie "moveCloud" */
}
@keyframes moveCloud1 {
    0% {
        left: -200px; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
    }
    100% {
        left: calc(100% + 200px); /* Końcowa pozycja chmury poza prawą krawędzią ekranu */
    }
}

.c2 {
    position: absolute;
    top: 55rem;
    right: -200px; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
    animation: moveCloud2 30s linear infinite, move-up-down 5s ease infinite; /* Użyjmy animacji o nazwie "moveCloud" */
    overflow: hidden;
}
@keyframes moveCloud2 {
    0% {
        right: -200px; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
    }
    100% {
        right: calc(100% + 200px); /* Końcowa pozycja chmury poza prawą krawędzią ekranu */
    }
}

.c3 {
    position: absolute;
    top: 35rem;
    left: -200px; /* Początkowa pozycja chmury poza lewą krawędzią ekranu */
    animation: moveCloud1 35s linear infinite, move-up-down 4s ease infinite; /* Użyjmy animacji o nazwie "moveCloud" */
}

@keyframes move-up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}