.mainContainer {
  height: 100vh;
  background: #2b3969ff;
  overflow-y: hidden;
  color: white;
  font-size: 50px;
}

.mainContainer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../Assets/bgnoise2.svg");


}

.mainContents {
  margin: 1rem;
}

/*.nav {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  background-color: rgba(0, 0, 0, 0.6);*/
/*  padding: 1rem;*/
/*  border-radius: 10px;*/
/*  width: 100vw;*/
/*}*/

.nav {
  background-color: rgba(51, 51, 51, 0.67);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 5rem;
  border-radius: 20px;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 4rem;
  text-decoration: none;
}

.navbar-menu {
  margin:0 10% 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-width: 25rem;
}

.navbar-item {
  margin-right: 15%;
  z-index: 100;
  display: flex;
  align-items: center;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.navbar-item img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

#main{
  color: white;
  border-color: transparent;
  padding: 0;
  font-size: 3rem;
}

option{
  color: black;
  font-size: 2rem;
}
