.mainContainer{
    width: 100%;
    height: 100vh;
    background-color: #2b3969;
    color: white;
    font-size: 10px;

}

.mainContents {
    height: 100%;
    background-image: url("../../Assets/bgnoise2.svg");
    position: relative;
    padding-left: 150px;
    padding-top: 50px;
}