nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2C576D;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #333;
}